<?xml version="1.0" encoding="UTF-8"?><launchConfiguration type="opl.launchType">
<stringAttribute key="opl.debugModel.ATTR_ELEMENT_ID" value="=wk4R\Run Con\figu\rationsrP\roblem2"/>
<stringAttribute key="opl.debugModel.ATTR_PROJECT" value="wk4"/>
<stringAttribute key="opl.debugModel.ATTR_RUN_CONFIG" value="Problem2"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/wk4"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
</launchConfiguration>